#nav {
    background: #252525;
    padding: 6px;
}

.nav-buttons{
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    padding: 6px 16px;
    align-items: center;
    /* margin: auto; */
}

#nav h6 {
    color: ivory;
}

#nav h5{
    color: ivory;
    border-bottom: 1px solid;
    margin: 0;
}

#header-section {
    display: flex;
    padding: 32px;
    justify-content: space-evenly;
    /* width: 60%; */
}

#demo-container {
    margin: 20px auto 0;
}

.modal-content {
    background-color: #ffffff42;
    backdrop-filter: blur(10px);
    color: #1b1b1b !important;

}

.modal-content h4, .modal-content h5 {
    /* color: ivory !important; */
    font-weight: bold;
}

.modal-content .form-control-lg, .modal-content .form-control-lg:active {
    background-color: #cccccc36 !important;
    color: black;
    font-weight: bold;
}

/* .alert {
    margin: 14px;
    margin-top: 0;
} */

/* .modal-body {
    margin-bottom: 24px;
} */