#not-signed-in {
    margin: 22px auto;
    width: 70%;
    text-align: center;
    height: 50vh;

}

#not-signed-in h4 {
    padding: 10px;
}

#lists-container {
    width: 80%;
    margin: auto;
    margin-bottom: 35vh;
    padding: 30px;
    /* height: 60vh; */
}
/* 
#lists-section {
    height: 100vh;
} */

.container-gear-buttons {
    display: flex;
    justify-content: start;
    margin: 12px auto;
    width: 100%;
    gap: 24px;
}

@media screen and (max-width: 600px) {
    #lists-container {
      padding: 0;
    }
  }