#container-location {
  /* width: 50%; */
  /* margin: 50px auto 30px; */
  margin: auto;

}

p {
  align-self: center;
}

.auth-alert {
  width: 85%;
  margin: 12px auto;
}

#search-results {
  display: flex;
  gap: 50px;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 32px auto;
}

#selected-place {
  padding: 32px;
  padding-bottom: 0;
  width: 85%;
  margin: auto;
}

#location-comp {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

#stock-container {
  padding: 22px 0;
}

#stock-header {
  text-align: center;
}

#stock-data{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 42px;
}