#container-location {
  width: 50%;
  margin: 50px auto 30px;
}

#search-results {
  display: flex;
  gap: 50px;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#selected-place {
  padding: 0 52px;
  width: 85%;
  margin: auto;
}

#location-comp {
  display: flex;
  flex-direction: column;
}

#stock-container {
  margin: 50px 0;
}

#stock-header {
  text-align: center;
}

#stock-data{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 42px;
}